<div class="panel panel-primary">
    <div class="panel-heading">
           {{title}} 
           
    </div>
    <h3 [ngStyle] = "{color : getColor()}"
        [ngClass] = "{online: serverStatus === 'Online'}">Server Status is {{serverStatus}}</h3>
    
    <div class="panel-body">
            

        <div class="row">
            <div class="col-md-1">
                <label for="search">Search:</label>
            </div>
            <div class="col-md-9">    
                <input type="text"  [(ngModel)] = "userText"/>
                
            </div>
            
            
            
        </div>
        <hr/>
        <div class="row">
            <h4 >Number of Products search on the basis of  {{userText}} : {{ (products |search :userText).length }}
                 </h4>
        </div>
        <div class="table-responsive">
            
         <table class="table" *ngIf = "products && products.length ;else noData">
            <thead>
                    <tr>
                        <td>
                             <button type="button" class="btn btn-primary" (click)="toggleimage()"  >{{show ? "hideimage":"showimage"}}</button>
                        </td>
                   
                    
                        <th>name</th>
                        <th>code</th>
                        <th>date</th>
                        <th>price</th>
                        <th>rating</th>
                    </tr>
            </thead>
            <tbody>

                <tr *ngFor = "let prod of products |search : userText ">
                    <td ><img [style.width.px] = "imagewidth"  *ngIf = "show"   [src]="prod.imageUrl"/></td>
                    <td>{{prod.productName | mypipe :"upper" }}</td>
                    <td style="color:teal">{{prod.productCode | mypipe :"upper"}}</td>
                    <td >{{prod.releaseDate | date:"dd/MM/yyyy"}}</td>
                    <td [ngStyle] = "{'background-color':prod.price > 20 ? 'Tomato':'Skyblue'}">
                        {{prod.price | discountpipe | currency :'USD' }}
                    </td>
                    <td >
                    <app-star [rating]= "prod.starRating" (starClicked)="datareceive($event)"></app-star>
                    </td>
                </tr>
                
            </tbody>

         </table> 
            <ng-template #noData>
                <img src="../../assets/spinner.gif">
            </ng-template>  
         </div>
    </div> 