<div class="panel panel-primary">
    <div class="panel-heading">
           {{title}} 
    </div>
    <div class="panel-body">
        <div class="table-responsive">
         <table class="table">
            <thead>
                <tr>
                    <th><button type="button" class="btn btn-primary" (click)="toggleimage()"  >{{show ? "hideimage":"showimage"}}</button></th>
                    <th>name</th>
                    <th>code</th>
                    <th>date</th>
                    <th>price</th>
                    <th>rating</th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor = "let prod of products">
                    <td *ngIf = "show" ><img  [src]="prod.imageUrl"/></td>
                    <td>{{prod.productName | lowercase }}</td>
                    <td>{{prod.productCode}}</td>
                    
                    <td>{{prod.releaseDate | date:"dd/MM/yyyy"}}</td>
                    <td>{{prod.price | currency :'USD'}}</td>
                    <td>{{prod.starRating}}</td>
                </tr>

            </tbody>

         </table>   
         </div>
    </div> 