<div class="panel panel-info">
    <div class="panel-heading">
        <h1>Product-details Page</h1>
    </div>
        <h2>Details for Product of id : {{id}}</h2>
    <div class="panel panel-body">
            <button style= "float:right;"class="btn btn-danger" (click)="onBack()"><<<Back</button>
        <h2>{{details[0].productName}}</h2>
        
        <div>
            <img [src] = "details[0].imageUrl"  />
        </div> 
    <hr/>   
            <p ><span style="font-weight:bold">About:</span>{{details[0].description}}</p>      
         
    </div>
    <div>
        
    </div>
</div>